body {
    margin: 0;
    font-family: 'Playfair Display', 'Poppins', sans-serif;
    background-color: #fff8e1;
    color: #333;
}

header {
    background: linear-gradient(90deg, #006064, #00838f);
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

header nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #00bcd4;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('DJI_1457.JPG');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 150px 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.hero p {
    font-size: 20px;
    margin-bottom





